{% extends 'base.html.twig' %}

{% block title %}Catégories!{% endblock %}

{% block body %}
<div class="container my-5">
<h1>{{category.name}}</h1>
<p>Cette catégorie contient {{category.products|length}} produits</p>
</div>
<div class="row">
  {% for product in category.products %}
<div class="col-md-4 text-center">
  <a href="{{path('app_product',{'slug':product.slug})}}" class="text-decoration-none"><img src="/uploads/{{product.illustration}}" class="img-fluid">
    <span class="d-block fw-bold text-black">{{product.name}} </span>
  </a>

  <span class="d-block">{{product.PriceWt()|price}}</span>{# appel de l'extensions #}
 
</div>
  
 {% endfor %}

</div>

{% endblock %}
